{% extends 'base/base.html' %}

{% block title %} Videos{% endblock %}

{% block content %}
<div class="caja-videos">
    <div class="caja-simple">
        <iframe class="video" src="https://www.youtube.com/embed/aw-P974P3OU"
            title="Ariel Mendez - Vientos y huracanes" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="caja-doble">
        <div class="caja-video">
            <iframe class="video" src="https://www.youtube.com/embed/mk3h_PMkghQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="caja-video">
            <iframe class="video" src="https://www.youtube.com/embed/rr2CYoXnx50"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="caja-doble">
        <div class="caja-video">
            <iframe class="video" src="https://www.youtube.com/embed/tiSllxJJdTQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="caja-video">
            <iframe class="video" src="https://www.youtube.com/embed/ZuCA2sZgKeA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}