{% extends 'base/base.html' %}

{% block title %} Conciertos {% endblock %}

{% block content %}

<div class="caja-conciertos">

    <table class="tabla-conciertos">
        {% for concierto in conciertos %}
            <tr>
                <td>{{concierto.ciudad}}</td>
                <td>{{concierto.fecha | date:"d/m/y"}}</td>
                <td>{{concierto.lugar}}</td>
                <td><button href="#" type="submit" class="btn">Ticket</button></td>
            </tr>
        {% endfor %}
    </table>
    
</div>

{% endblock %}