{% load static %}

<header class="header-barra">
    <div class="caja-titulo">
        <a class="navbar-brand {%if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">
            {%if request.path == '/' %}
                <img src="{% static 'img/LogosoloB.png' %}" alt="" class="img-logo"></a>
            {% else %}
                <img src="{% static 'img/LogosoloN.png' %}" alt="" class="img-logo"></a>
            {%endif%}
    </div>
    <nav class="navbar navbar-expand-lg bg-secondary.bg-gradient">
        <div class="container-fluid">
            <div></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ul_nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/biografia/' %}activo{% endif %}" href="{% url 'biografia' %}">BIOGRAFIA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/conciertos/' %}activo{% endif %}" href="{% url 'conciertos' %}">CONCIERTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/novedades/' %}activo{% endif %}" href="{% url 'novedades' %}">NOVEDADES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/tienda/' %}activo{% endif %}" href="{% url 'tienda' %}">TIENDA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    MULTIMEDIA
                </a>
                <ul class="dropdown-menu drop-menu">
                    <li><a class="dropdown-item drop-item {% if request.path == '/fotos/' %}activo{% endif %}" href="{% url 'fotos' %}">FOTOS</a></li>
                    <li><a class="dropdown-item drop-item {% if request.path == '/videos/' %}activo{% endif %}" href="{% url 'videos' %}">VIDEOS</a></li>
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if request.path == '/contacto/' %}activo{%endif%}" href="{% url 'contacto' %}">CONTACTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/carrito/' %}activo{% endif %}" href="{% url 'carrito' %}">CARRITO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>