{% extends 'base/base.html' %}

{% block title %} Formulario de Contacto {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    
    <div class="caja-formulario">

        <div class="contratacion">
            <div>
                <h1>Contratación</h1>
            </div>
            <div>
                <h3>Ariel Mendez</h3>
            </div>
            <div>
                <h3>arielmendezok@gmail.com</h3>
            </div>
            <div>
                <h2>Teléfono de contacto</h2>
            </div>
            <div>
                <h3>+54 223 446 12 19</h3>
            </div>
        </div>
    
        {% if formulario.errors %}
            <p>Error al enviar</p>
        {% endif %}
            
        <div class="formulario">
            <form action="" method="post"> {% csrf_token %}
                <h4 class="escribeme">Escrìbeme</h4>
                {{ formulario | crispy}}
                <button type="submit" class="button btn">Enviar</button>
            </form>
            {% if valid %}
                <h4>El mail fue enviado correctamente</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}